/*iphone5~6*/
@media (min-device-width: 320px) and (max-device-width: 375px) {
  html {
    font-size: 10px;
  }

}
/*iphone plus*/
@media (min-device-width: 375px) and (max-device-width: 767px) {
  html {
    font-size: 14px;
  }
}
body {
  margin: 0px;
  padding: 0
}

dl {
  display: inline-block;
  margin-left: 10px;
}
dt {
  position: absolute;
  float: left;
}
dd {
  float: left;
  position: absolute;
  margin-top: 20px;
}

.chat-container {
  padding: 0;
}

.chat-header-box {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  line-height: 60px;
  background-color: #f7ac1a;
  height: 60px;
  color: white;
}

.chat-header-box > .backBtn {
  position: absolute;
  left: 5%;
  bottom: -7%;
  font-size: 2rem;
  font-weight: normal;
  line-height:2.5;
  color: white;
}


.chat-line div {
  display: inline;
}

.chat-body {
  margin: 0;
}
.chat-content > div {
  border-bottom: 1px solid gray;
}
.chat-content img {
  margin: 5px 0;
  display: inline;
}

.chat-detail {
  height:623px;
  background-color: #F2D9D9;
}
.cd-content span {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 2px 0;
}
.btn {
  font-size: 1.6rem;
  color: white;
  background-color: #f7ac1a;
}
.me {
  float: right;
}
.you {
  display: inline-block;
  margin: 4px 0;
}


#cd-header img {
  position: absolute;
  left: 5px;
  vertical-align: top;
  margin: 5px 0 0 5px;;
}

#cd-header {
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  height: 50px;
  border-bottom: 1px solid gray;
}


#messageBox img {
  border-radius: 10px;
  float: left;
  margin-right: 7px;
  width: 50px;
}

#messageBox {
  box-sizing: border-box;
  overflow:scroll;
  width: 100%;
  height: 72%;
  padding: 10px;
}

#cd-footer {
  box-sizing: border-box;
}

#message {
  margin-left: 2px;
  height: 30px;
  width: 78%;
}
